{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static  'assets/css/req1.css' %}">

</head>


<div class="page-section product-detail-image-section" style=" background: url({% static 'assets/img/1.jpg' %})">
  <!-- Container Start -->
  <div class="container">
      <!-- Row Start -->
      <div class="row">
          <!-- Column Start -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="company-info-detail">
                  <div class="company-info">
                      

                      <div class="text-holder">
                          <span class="product-title"></span>
                         
                      </div>
                  </div>
              </div>
          </div>
          <!-- Column End -->
      </div>
      <!-- Row End -->
  </div>
  <!-- Container End -->
</div>

<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Responsive Registration Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form action="{% url 'registerUser' %}" method="post" enctype= multipart/form-data mb-5>
        {% csrf_token %}
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> 
                <label for="FullName">First Name</label>
                {{form.first_name}}
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> 
                <label for="FullName">Last Name</label>
                {{form.last_name}}
              </div>
            </div>
          </div>
          <div class="input_field"> 
            <label for="username">User Name</label>
            {{form.username}}
          </div>

          <div class="input_field"> 
            <label for="email">Email </label>
            {{form.email}}
          </div>

          <div class="input_field"> 
            <label for="FullName"> Mobile Number</label>
            {{form.mobile_no}}
          </div>

          <div class="input_field"> 
            <label for="pincode"> Pin Code</label>
            {{form.pin_code}}
          </div>

          

          <div class="input_field"> 
            <label for="password"> Password</label>
            {{form.password}}
          </div>
          
          <div class="input_field"> 
            <label for="password"> Confirm Password</label>
            {{form.confirm_password}}
          </div>
          <li>
            <ul class="errorlist">
              {% for field in form %}
                  {% if field.errors %}
                      {% for error in field.errors %}
                          <li style="color: red;">{{error}}</li>
                      {% endfor %}
                  {% endif %}
              {% endfor %}

              <li style="color: red;">{{form.non_field_errors}}</li>
          </ul>
          </li>
          <input class="button" type="submit" value="Register" >

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Load message -->
                {% include 'includes/alert.html' %}
            </div>
        </div>

    </li>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <div class="head">
  <div class="container">
      <div class="title">
          <h1>sign up now!</h1>
      </div>
  </div>
</div>

<div class="content">
  <div class="container">
          <form action="{% url 'registerUser' %}" method="post" enctype= multipart/form-data>
            {% csrf_token %}
              <div class="first">
                  <label for="first">first name:</label>
                  <div class="clear"></div>
                  {{form.first_name}}
              </div>
              <div class="last">
                  <label for="last">last name:</label>
                  <div class="clear"></div>
                  {{form.last_name}}
              </div>
              <div class="first">
                <label for="username">username:</label>
                <div class="clear"></div>
                {{form.username}}
              </div> 
              <div class="first">
                <label for="phone_no">Phone number:</label>
                <div class="clear"></div>
                {{form.mobile_no}}
              </div>
              <div class="first">
                <label for="pin_code">pin code:</label>
                <div class="clear"></div>
                {{form.pin_code}}
              </div>
              <div class="email">
                <label for="email">e-mail:</label>
                <div class="clear"></div>
                  {{form.email}}
              </div>
              <div class="pass">
                  <label for="pass">password:</label>
                  <div class="clear"></div>
                  {{form.password}}
                </div>
              <div class="cpass">
                  <label for="Cpass">confirm password:</label>
                  <div class="clear"></div>
                  {{form.confirm_password}}
                </div>
              <li>
              <ul class="errorlist">
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li style="color: red;">{{error}}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <li style="color: red;">{{form.non_field_errors}}</li>
            </ul>
              <div class="submit">
                  <input type="submit" value="sign up">
              </div>
             

        </li> 
          </form>
  </div>
</div> -->


{% endblock %}