{% load static %}

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
							
								<li><a href="{% url 'contact' %}">Contact</a></li>
								
								<li><a href="{% url 'marketplace' %}" >Market Place</a></li>

                                

                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'MyAccount'  %}">My Account</a></li>

                                    <li><a href="{% url 'logout'  %}">logout</a></li>

                                    {% else %}
                                    <li><a href="{% url 'registerUser' %}">Register</a></li>
                                    <li><a href="{% url 'login'  %}">login</a></li>
                                    <li> <button type="button" class="btn btn-success btn-sm"  onclick="window.location.href='{% url 'registerSeller' %}'">Seller Registration</a></button></li>
                                    {% endif %}

								<li>
                    
									<div class="header-icons">
                                        {% if user.is_authenticated %}
                                            <a   class="shopping-cart"   href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>

                                            <span class="badge badge-warning" id="cart_counter" style="border-radius: 50px; position: relative; bottom:10px; left: -5px;">{{ cart_count }}</span>
                                        {% endif %}
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
                        <form>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        </form>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->



<!-- <header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                 <a href="#" class="nav-link">   English </a>
                
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link"> USD </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
        </ul>
      </div> 
    </div> 
    </nav>
    
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="./" class="brand-wrap">
                <img class="logo" src="{% static './images/logo.png' %}">
            </a> 
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> All category 
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
                    <a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
                    <a class="dropdown-item" href="#">Auto / Transportation</a>
                    <a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
                    <a class="dropdown-item" href="#">Home & Garden / Construction / Lights </a>
                    <a class="dropdown-item" href="#">Beauty & Personal Care / Health </a> 
                </div>
            </div> 
        </div> 
        <a href="./store.html" class="btn btn-outline-primary">Store</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> 
        </div> 
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div> 
                                <a href="./signin.html">Sign in</a> <span class="dark-transp"> | </span>
                                <a href="./register.html"> Register</a>
                            </div>
                        </div>
                        <a href="./cart.html" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                    </div> 
                </div> 
    </div> 
        </div> 
    </section> 
    
    
    
    
    </header>  -->