


{% extends 'base.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">



<div class="homepage-slider">
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Organic</p>
							<h1>Delicious Seasonal Fruits</h1>
							<h1>And</h1>
							<h1>Vegitables</h1>

							<div class="hero-btns">
								<a href="{% url 'marketplace' %}" class="boxed-btn"> Buy Now</a>
								<a href="" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh Everyday</p>
							<h1>100% Organic Collection</h1>
							<div class="hero-btns">
								<a href="{% url 'marketplace' %}" class="boxed-btn">Visit Shop</a>
								<a href="contact.html" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>No Extra charges/h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>24/7 Support</h3>
						<p>Get support all day</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Refund</h3>
						<p>Get refund within 3 days!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Choose From</span> Our Best Farmers</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for vendor in vendors %}
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<figure>
						{% if vendor.user_profile.profile_photo %}
						<a href=""><img src="{{ vendor.user_profile.profile_photo.url }}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
						<div class="profile-photo-placeholder">
							{% if vendor.is_open %}
							<span class="open-badge badge-success">OPEN</span>
							{% else %}
							<span class="close-badge badge-danger">CLOSED</span>
							{% endif %}
							
							<!-- Add any additional design elements or text you want for the placeholder -->
						</div>
						{% else %}
						<a href=""><img src="{% static 'images/default-profile.png' %}" height="125" class="attachment-full size-full wp-post-image" alt=""></a>
						{% endif %}	
					</figure>			
						<!-- 
						<span class="product-status open"><em class="bookmarkRibbon"></em>Open</span>
						
						<span class="product-status close"><em class="bookmarkRibbon"></em>Close</span>
							 -->
					</div>
					
					<h3>{{vendor.seller_name}}</h3>
					{% if vendor.user_profile.city and vendor.user_profile.state and vendor.user_profile.pin_code %}
					<span><i>{{vendor.user_profile.city}},{{vendor.user_profile.state}},{{vendor.user_profile.pin_code}}</i></span><br>
					{% endif %}
					<a href="{% url 'seller_detail'  vendor.seller_slug %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> View Products</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->




<!-- advertisement section -->
<div class="abt-section mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
					<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Since Year 1999</p>
					<h2>Welcome to <span class="orange-text">MYFARM</span></h2>
					<p> your digital gateway to the freshest organic produce directly from local farmers. Our platform connects eco-conscious consumers with passionate growers, fostering a community that celebrates sustainable living and supports local agriculture.</p>
					<p> Browse a curated selection of organic goods, from vibrant vegetables to wholesome dairy and more, all sourced with care from nearby farms. Embrace a healthier lifestyle while empowering farmers and nurturing the planet. Join us in cultivating a greener tomorrow, one purchase at a time."</p>
					<a href="{% url 'about' %}" class="boxed-btn mt-4">know more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->







{% endblock %}